* {
    margin: 0;
}

.header {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #141414;
    width: 826px;
    height: 158px;
    left: 307px;
    top: 174px;
}

.description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 50px;
}

.btn {
    width: 230px;
    height: 56px;
    left: 156px;
    top: 2448px;
    background: #FF5959;
    border-radius: 5px;
    text-align: center;
    border: none;
    margin-bottom: 130px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 100px;



}

.img {
    background: url(images/donation13.jpg) no-repeat;
    width: 100%;
    height: 669px;
    background-size: cover;

}

/* main section start */
nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;

}

.title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    margin-top: 80px;
    margin-bottom: 20px;
}


.other-amount {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.plan {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.sub-plan {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button {
    display: flex;
    justify-content: center;
}

/* new section */
.new-container {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.blog-1 {
    padding-left: 20px;
    margin: 10px;
    width: 360px;
    height: 352px;
    background-color: #9f9999;
}

.blog-2 {
    padding-left: 20px;
    width: 360px;
    height: 352px;
    background-color: #ef9f9f;
    margin: 10px;
}

.blog-3 {
    padding-left: 20px;
    width: 360px;
    height: 352px;
    background-color: rgb(246, 221, 179);
    margin: 10px;
}

.icons {
    margin-top: 60px;
    margin-bottom: 31px;
    padding-left: 23px;
}

.sub-blog {
    width: 315px;
    left: 180px;
    top: 1740.5px;
    padding-left: 20px;
}

/* main section style end */

/* section container start */
.section-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 83px;
}

.sub-section-img {
    width: 456px;
    height: 477px;
    left: 732px;
    top: 2078px;
    border-radius: 20px;
}

.section {
    width: 493px;
    height: 374px;
    left: 156px;
    top: 2130px;
    margin-top: 183px;
    margin-bottom: 151px;

}

.sub-section {
    width: 492px;
    height: 108px;
    font-weight: 700;
    font-size: 45px;
}

.sub-section-description {
    color: #707070;
}

/* new second section style */
.img-3 {
    background-image: url(images/donation4.jpg);
    width: 456px;
    height: 477px;
    border-radius: 10px;
    margin-bottom: 130px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 93px;

}

.section-sub {
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 374px;
    left: 706px;
    top: 2707px;
}

.second-section {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.second-section-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

/* 3rd section start */
.my-last-update {
    width: 691px;
    height: 130px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 40%;

}

.my-update {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    margin-bottom: 20px;
}

.update-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    margin-bottom: 50px;
}

.form {
    width: 809px;
    height: 200px;
    margin-left: 40%;
    margin-bottom: 130px;
}

.info {
    margin: 76px 189px;
}


div.form {
    display: flex;
    justify-content: center;
    width: 809px;
    height: 200px;
    left: 316px;
    top: 3442px;
    background: #FFF4D6;

}

.email {
    width: 275px;
    height: 48px;
    left: 505px;
    top: 3518px;

    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}

.mail-addrese {
    width: 432px;
    height: 48px;
    left: 505px;
    top: 3518px;
}

.update {
    width: 691px;
    height: 130px;
    left: 375px;
    top: 3262px;
}

/* footer */
div.footer {
    left: 0%;
    right: 0%;
    top: 95.52%;
    bottom: 0%;
    background: #0B0D17;
    margin-top: 42px;
}

.contenar {
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 92px;
    left: 653px;
    top: 43px;
margin-top: 40px;




}

.footer-title {
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    text-align: left;
}


.footer-description {
    font-weight: 400;
    font-size: 14px;

    color: #D9DBE1;

}